<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else if .Title }}{{ .Title }} &middot; {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}</title>
<link rel="stylesheet" href="{{ "style.css" | relURL }}">
{{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
{{ partial "microblog_head.html" . }}
</head>
<body>
{{ partial "header.html" . }}
{{ block "main" . }}{{ end }}
{{ partial "footer.html" . }}
{{ partial "custom_footer.html" . }}
</body>
</html>
