<footer class="site">
  <nav class="footer-links">
    <ul>
      {{ range .Site.Menus.main }}
        {{ $redirect := "" }}
        {{ with .Page }}{{ $redirect = .Params.redirect }}{{ end }}
        {{ if $redirect }}
          <li><a href="{{ $redirect }}">{{ .Name }}</a></li>
        {{ else }}
          <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
      <li><a href="{{ "feed.xml" | absURL }}">RSS</a></li>
      <li><a href="{{ "feed.json" | absURL }}">JSON Feed</a></li>
      {{ if .Site.Params.has_podcasts }}
        <li><a href="{{ "podcast.xml" | absURL }}">Podcast</a></li>
      {{ end }}
      {{ with .Site.Params.author.username }}
        <li><a href="https://micro.blog/{{ . }}" rel="me">Follow on Micro.blog</a></li>
      {{ end }}
    </ul>
  </nav>
</footer>
