<header class="site">
  {{ if .IsHome }}
    <h1><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a></h1>
  {{ else }}
    <p class="back-home"><a href="{{ .Site.Home.RelPermalink }}">&larr; {{ .Site.Title }}</a></p>
    {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
    {{ block "meta" . }}{{ end }}
  {{ end }}

  {{ if .Site.Menus.main }}
  <nav class="site-nav">
    <ul>
      {{ range .Site.Menus.main }}
        {{ $redirect := "" }}
        {{ with .Page }}{{ $redirect = .Params.redirect }}{{ end }}
        {{ if $redirect }}
          <li><a href="{{ $redirect }}">{{ .Name }}</a></li>
        {{ else }}
          <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</header>
<hr class="double">
