{{ define "main" }}
<main>
{{ $posts := where .Site.RegularPages "Type" "post" }}
{{ if .Site.Params.paginate_home }}
  {{ $paginator := .Paginate $posts.ByDate.Reverse }}
  {{ if not $paginator.Pages }}
    <p><em>(no posts yet)</em></p>
  {{ end }}
  {{ $pp := $paginator.Pages }}
  {{ range $i, $p := $pp }}
    {{ if ne $i 0 }}<hr>{{ end }}
    {{ partial "card.html" $p }}
  {{ end }}
  {{ partial "pager.html" $paginator }}
{{ else }}
  {{ if not $posts }}
    <p><em>(no posts yet)</em></p>
  {{ end }}
  {{ $rp := $posts.ByDate.Reverse }}
  {{ range $i, $p := $rp }}
    {{ if ne $i 0 }}<hr>{{ end }}
    {{ partial "card.html" $p }}
  {{ end }}
{{ end }}
</main>
{{ end }}
